@font-face {
    font-family: rubik;
    src: url('fonts/rubik/static/Rubik-Medium.ttf');
}

@font-face {
    font-family: rubik-light;
    src: url('fonts/rubik/static/Rubik-Light.ttf');
    font-size: 1px;
}