@import url("fonts.css");

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #00DBDE, #FC00FF);
    font-family: rubik;
}

.container {
    display: grid;
    border-radius: 20px;
    width: 60em;
    height: 38em;
    margin: 20px;
    margin-top: 28px;
    background-color: #fff;
    position: relative;
}

.memberlogin {
    max-width: 50rem;
}

.form form {
    line-height: 20px;
    padding-top: 2.88em;
    margin:50px;
}

.form label{
    font-size: 25px;
    font-weight: 1px;
}

.form-control input[type="text"],
.form-control input[type="text"] {
    width: 50em;
    height: 3.34em;
    margin: 11px auto;
    display: block;
    padding: .500rem 2rem;
    font-size: 14px;
    color: #6C757D;
    background-color: #E9ECEF;
    border: 1px solid #fff;
    border-radius: 1em;
    transition: 0.25s;
    outline: none;
}

.form-control input[type="submit"] {
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    height: 50px;
    border-radius: 2em;
    outline: none;
    border: 0;
    width: 20.400em;
    padding: .600rem 2rem;
    background-color: #67D665;
}

.form input {
    height: 2.4em;
}

.btn {
    width: 17.77em;
    height: 3em;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #67D665;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 2em;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out
}

.form .newaccount a {
    position: absolute;
    z-index: 1;
    left: 16em;
    top: 42em;
}

.form .newaccount a {
    font-family: rubik-light;
    font-size: .800rem;
    color: #717171;
    text-decoration: none;
}

.flatdesign {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    max-width: 50rem;
    grid-area: flatdesign;
    background-position: center;
    background-image: url(img/img.png);
    background-repeat: no-repeat;
    background-size: 18em;
}